name: Keep Hugging Face Spaces Alive

on:
  schedule:
    - cron: '*/15 * * * *' # Runs every 15 minutes
  workflow_dispatch:

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Private HF Space
        run: |
          curl -L -H "Authorization: Bearer ${{ secrets.HF_TOKEN }}" https://andrewsha-my-portfolio-bot.hf.space
      - name: Ping Public HF Space
        run: curl -L https://andrewsha-public-portfolio-bot.hf.space
